@font-face {
	font-family: "garmond";
	src: url("./EBGaramond-VariableFont_wght.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "inter";
	src: url("./Inter.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
